.rich-text-editor {
  width: 480px;

  :global(.public-DraftStyleDefault-block) {
    overflow-x: auto;
    white-space: pre;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}